:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #fdfdfd;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}
button {
  cursor: pointer;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

header {
  top: -8.000213623046875px;
  left: -14px;
  width: 100%;
  height: 1088px;
  /* UI Properties */
  background: #051653 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  /* opacity: 0.8; */
}
.nav {
  /* background: #000; */
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  /* border: 2px solid white; */
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  /* border-bottom: 1px solid #222; */
  font-family: "jost";
  line-height: 37px;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}
.list {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.nav__item button {
  border: none;
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: linear-gradient(
    90deg,
    rgba(78, 57, 238, 1) 0%,
    rgba(69, 123, 241, 1) 55%,
    rgba(93, 128, 247, 1) 98%
  );
  color: #d2d0db;
}

.grid {
  display: grid;
}
.block {
  --padding-vertical: 10rem;
  padding: 10rem 25rem;
}

.block__heading {
  text-align: left;
  font: normal normal normal 60px/87px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.hero__tagline {
  text-align: left;
  font: normal normal normal 32px/46px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 47px;
}
.block__btn {
  border-radius: 10px;
  padding: 18px 40px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: #061b4a;
  border: 2px solid #3856b0;
  color: #d2d0db;
}
.block__btn:hover {
  /* border: none; */
  border-radius: 10px;
  padding: 18px 40px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: linear-gradient(
    90deg,
    rgba(78, 57, 238, 1) 0%,
    rgba(69, 123, 241, 1) 55%,
    rgba(93, 128, 247, 1) 98%
  );
  color: #d2d0db;
}
.hero__image {
  width: 500px;
  margin-left: 200px;
}
.block__header {
  margin-top: 20px;
}
.tag {
  display: flex;
  margin: 50px 25rem;
  /* border: 2px solid white; */
  justify-content: space-between;
}
.mini_tag {
  display: flex;
}
.tag_text {
  text-align: left;
  font: normal normal 400 22px/32px Jost;
  letter-spacing: 0px;
  color: #e3e3e3;
  margin: 0;
}
.tag_head {
  text-align: center;
  font: normal normal 600 50px/73px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  text-transform: capitalize;
  opacity: 1;
  margin: 0 15px 0 0;
}
#client {
  text-align: left;
  font: normal normal 600 16px/32px Jost;
  letter-spacing: 3px;
  color: #2d83ee;
  text-transform: uppercase;
  opacity: 1;
  margin: 60px 0 15px 0;
}
#partners {
  text-align: left;
  font: normal normal 700 40px/48px Jost;
  letter-spacing: 0px;
  color: #391400;
  opacity: 1;
  margin: 0;
  margin-bottom: 50px;
}
.tag_con {
  margin: 0 200px;
}
.tag2 {
  display: flex;
  justify-content: space-between;
}
.tag2 img {
  width: 150px;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
}
