:root {
  --color-primary: #2584ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}
button {
  cursor: pointer;
}
h1,
h2,
h3 {
  /* color: var(--color-headings); */
  margin-bottom: 1rem;
  line-height: 1.1;
}
h6 {
  margin: 0;
}
header {
  top: -8.000213623046875px;
  left: -14px;
  width: 100%;
  height: 1088px;
  /* UI Properties */
  background: #051653 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  /* opacity: 0.8; */
  padding-top: 24px;
}
.nav {
  /* background: #000; */
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  /* border: 2px solid white; */
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  /* border-bottom: 1px solid #222; */
  font-family: "jost";
  line-height: 37px;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}
.list {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.nav__item button {
  /* border: none;
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: linear-gradient(
    90deg,
    rgba(78, 57, 238, 1) 0%,
    rgba(69, 123, 241, 1) 55%,
    rgba(93, 128, 247, 1) 98%
  );
  color: #d2d0db; */
}

.grid {
  display: grid;
}
.block {
  --padding-vertical: 10rem;
  padding: 10rem 25rem;
}

.block__heading {
  text-align: left;
  font: normal normal normal 60px/87px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.hero__tagline {
  text-align: left;
  font: normal normal normal 32px/46px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 47px;
}
.block__btn {
  border-radius: 10px;
  padding: 18px 40px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: #061b4a;
  border: 2px solid #3856b0;
  color: #d2d0db;
}
.block__btn:hover {
  /* border: none; */
  border-radius: 10px;
  /* padding: 18px 40px; */
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: linear-gradient(
    90deg,
    rgba(78, 57, 238, 1) 0%,
    rgba(69, 123, 241, 1) 55%,
    rgba(93, 128, 247, 1) 98%
  );
  color: #d2d0db;
}
.hero__image {
  width: 500px;
  margin-left: 200px;
}
.block__header {
  margin-top: 20px;
}
.tag {
  display: flex;
  margin: 50px 25rem;
  /* border: 2px solid white; */
  justify-content: space-between;
}
.mini_tag {
  display: flex;
  align-items: center;
}
.tag_text {
  text-align: left;
  font: normal normal 400 22px/32px Jost;
  letter-spacing: 0px;
  color: #e3e3e3;
  margin: 0;
}
.tag_head {
  text-align: center;
  font: normal normal 600 50px/73px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  text-transform: capitalize;
  opacity: 1;
  margin: 0 15px 0 0;
}
#client {
  text-align: left;
  font: normal normal 600 16px/32px Jost;
  letter-spacing: 3px;
  color: #2d83ee;
  text-transform: uppercase;
  opacity: 1;
  margin: 60px 0 15px 0;
}
#partners {
  text-align: left;
  font: normal normal 700 40px/48px Jost;
  letter-spacing: 0px;
  color: #391400;
  opacity: 1;
  margin: 0;
  margin-bottom: 50px;
}
.tag_con {
  margin: 0 200px;
}
.tag2 {
  display: flex;
  justify-content: space-between;
}
.tag2 img {
  width: 150px;
}
article {
  padding: 10rem 30rem 5rem 30rem;
}
.feature:nth-of-type(odd) .feature__content {
  order: 2;
  padding-left: 100px;
}
.service {
  text-align: left;
  font: normal normal 600 16px/32px Jost;
  letter-spacing: 3px;
  color: #2d83ee;
  text-transform: uppercase;
  opacity: 1;
  margin: 0;
}
.after_service {
  text-align: left;
  font: normal normal 500 40px/64px Jost;
  letter-spacing: -0.71px;
  color: #391400;
  opacity: 1;
  margin: 0;
}
.feature_text {
  text-align: left;
  font: normal normal 500 18px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  opacity: 1;
}
.gred_btn {
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  box-shadow: 5px 8px 10px #00000029;
  background: rgb(78, 57, 238);
  background: linear-gradient(
    90deg,
    rgba(78, 57, 238, 1) 0%,
    rgba(69, 123, 241, 1) 55%,
    rgba(93, 128, 247, 1) 98%
  );
  color: #d2d0db;
}
.feature__image {
  width: 400px;
}
.first {
  width: 600px;
}
.second {
  margin-left: 150px;
  /* width: 450px; */
}
.web3__image {
  width: 90%;
  margin: 50px 5% 87px 5%;
}
.scrol {
  top: 3414px;
  left: 0px;
  width: 100%;
  height: 884px;
  background: #15306f 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  /* opacity: 0.8; */
  padding-top: 50px;
}
.why_here {
  display: flex;
  margin: 57px 200px;
  justify-content: space-between;
  align-items: center;
}
.small {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4363px;
  left: 1307px;
  width: 370px;
  height: 83px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 32px 64px #3914000a;
  border: 1px solid #2d83ee;
  border-radius: 15px;
  opacity: 1;
  margin-left: 369px;

  text-align: center;
  font: normal normal 500 14px/20px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  opacity: 1;
}
.medium {
  /* top: 4446px;
  left: 1104px; */
  width: 470px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 32px 64px #3914000a;
  border: 1px solid #2d83ee;
  border-radius: 15px;
  opacity: 1;
  margin-left: 167px;
  text-align: center;
  font: normal normal 600 16px/23px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  opacity: 1;
}
#medium {
  z-index: 1;
  position: relative;
  top: 30px;
}
.large {
  /* top: 4521px;
  left: 934px; */
  width: 570px;
  height: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* UI Properties */
  background: #4a4bee 0% 0% no-repeat padding-box;
  box-shadow: 0px 32px 64px #3914000a;
  border-radius: 15px;
  opacity: 1;
  margin-right: 227px;
  text-align: center;
  font: normal normal 500 22px/32px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 0 60px;
  z-index: 999;
  position: relative;
}
.card_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 30rem 5rem 30rem;
}
.card {
  width: 420px;
  height: 260px;
  border: 1px solid #2d83ee;
  border-radius: 15px;
  opacity: 1;
  margin-top: 30px;
  box-shadow: 5px 5px 15px #00000029;
}
.card img {
  margin-top: 10px;
}
.read_more {
  text-align: center;
  font: normal normal 600 22px/32px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  margin: 10px 0 0 0;
}
.testimonial,
.our_blog {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 30rem 5rem 30rem;
}
.testimonial {
  margin-top: 80px;
}
.stack_os {
  display: flex;
  justify-content: space-between;
  padding: 3rem 30rem 5rem 30rem;
  text-align: center;
}
.stack_card {
  width: 372px;
  height: 216px;
}
.stack_card img {
  width: 177px;
}
.commant {
  font: normal normal 500 18px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  margin-bottom: 30px;
}
.name {
  font: normal normal 600 22px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  text-transform: capitalize;
}
.position {
  font: normal normal 500 16px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
}
.faq {
  display: flex;
  justify-content: space-between;
  padding: 3rem 40rem 5rem 40rem;
}
.faq_box {
  width: 570px;
  /* height: 273px; */
  box-shadow: 0px 32px 64px #3914000a;
  border: 1px solid #2d83ee;
  border-radius: 6px 6px 0px 0px;
  padding: 43px 36px;
  border-collapse: collapse;
}
.narrow {
  width: 470px;
  padding-right: 40px;
}
.faq_text {
  text-align: left;
  font: normal normal normal 18px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  margin: 20px 0;
}
.blog_holder {
  display: flex;
  padding: 0rem 30rem 5rem 30rem;
  justify-content: space-between;
}
.mask_card {
  height: 420px;
  width: 370px;
}
.mask_link {
  text-align: left;
  font: normal normal 600 22px/32px Jost;
  letter-spacing: 0px;
  color: #2d83ee;
  margin: 10px 0;
}
.date {
  text-align: left;
  font: normal normal 500 16px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  margin-bottom: 8px;
}
.about_mask {
  text-align: left;
  font: normal normal 500 16px/23px Jost;
  letter-spacing: 0px;
  color: #391400;
}
.hashinh {
  height: 503px;
  background: #051653 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 10px 0;
  margin-bottom: 90px;
}
.hashinh .left {
  width: 928px;
  padding-left: 250px;
}
.right img {
  width: 700px;
  position: absolute;
}
#relt {
  position: relative;
  /* top: 30px; */
  scale: 0.4;
  /* width: 273px; */
}
.hashinh_text {
  text-align: left;
  font: normal normal 300 18px/26px Jost;
  margin: 20px 0;
  letter-spacing: 0px;
  color: #ffffff;
}
span {
  font-size: 24px;
}
input {
  background: #0000004d 0% 0% no-repeat padding-box;
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 20px 0px 20px 30px;
  width: 557px;
  color: rgb(195, 195, 195);
}
.hashinh .left img {
  width: 496px;
}
.apply_card_flex {
  display: flex;
  justify-content: center;
}
.apply_card {
  width: 1255px;
  height: 580px;
  background: #2d83ee 0% 0% no-repeat padding-box;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}
.apply_card .right img {
  width: 475px;
}
.apply_card .left {
  width: 475px;
}
#apply_img_holder {
  width: 475px;
  height: 463px;
}
.apply_text {
  text-align: left;
  font: normal normal 500 45px/65px Jost;
  letter-spacing: 0px;
  color: #ffffff;
}
#apply_now_btn {
  width: 170px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 9px #39140014;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-top: 90px;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
}
.top {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
footer {
  background: #28293e 0% 0% no-repeat padding-box;
  margin-top: 90px;
  height: 480px;
  padding: 20px 220px 10px 220px;
}
.one {
  width: 300px;
}
.three {
  width: 300px;
}
/* .top .left,
.right {
  width: 300px;
} */
.one img {
  width: 184px;
}
.footer_head {
  text-align: left;
  font: normal normal 500 22px/32px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer_body {
  text-align: left;
  font: normal normal 300 18px/28px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 8px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_flex {
  display: flex;
  margin: 20px 0 50px 0;
}
.icon_flex img {
  margin: 0 10px;
  cursor: pointer;
}
.copy_write {
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
}
.li_style {
  width: 20px;
  position: relative;
  top: 4px;
}
article button {
  margin-top: 20px;
  width: 180px;
  height: 60px;
}
.security {
  margin-top: 40px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
.collapsible__heading {
  text-align: left;
  font: normal normal 500 22px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  cursor: pointer;
}
.collapsible__body {
  text-align: left;
  font: normal normal normal 18px/32px Jost;
  letter-spacing: 0px;
  color: #391400;
  margin-bottom: 0;
}
.border_top {
  border-top: none;
  border-radius: 0%;
}

.nav__toggler {
  display: none;
}

.nav__list {
  width: auto;
  display: flex;
  font-size: 1.6rem;
  max-height: 100%;
  opacity: 1;
}

.nav__item {
  border: 0;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
.right .collapsible__chevron {
  width: 20px;
  position: static;
}

.collapsible__chevron {
  /* transform: rotate(-90deg); */
  transition: transform 0.3s;
  cursor: pointer;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(-180deg);
}
.col_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrol .after_service {
  margin-top: 20px;
}
.btn_flex button {
  box-shadow: 3px 3px 6px #00000029;
  border: 1px solid #e3e3e3;
  border-radius: 28px;
  padding: 10px 30px;
  margin: 0 10px;
  background-color: #15306f00;
  color: white;
}
.btn_flex button:hover {
  background: #2d83ee 0% 0% no-repeat padding-box;
  border: 1px solid #2d83ee;
}

/* SLIDER */
.slider {
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.slide_flex {
  display: flex;
  justify-content: space-between;
  padding: 104px 245px 104px 250px;
}
.slide_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide img {
  width: 223px;
}
.slide_text {
  text-align: left;
  font: normal normal 500 22px/32px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 10px 0;
}
.slide_btn {
  width: 170px;
  height: 48px;
  border: 1px solid #ffffff4b;
  border-radius: 6px;
  background-color: #39b38400;
  color: white;
  font-size: 15px;
  margin: 0 5px;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: none;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

@media screen and (max-width: 1536px) {
  header {
    /* background-color: #ff2525; */
    padding-top: 10px;
    height: 763px;
  }
  .block__heading {
    font: normal normal normal 40px/60px Jost;
  }
  .block {
    padding: 5rem 25rem;
  }
  .hero__image {
    width: 350px;
    margin-left: 100px;
  }
  .hero__tagline {
    font: normal normal normal 22px/46px Jost;
    margin-bottom: 37px;
  }
  .block__btn {
    border-radius: 10px;
    padding: 11px 20px;
    box-shadow: 5px 8px 10px #00000029;
    background: rgb(78, 57, 238);
    background: #061b4a;
    border: 2px solid #3856b0;
    color: #d2d0db;
    font-size: 16px;
  }
  .tag_head {
    font: normal normal 600 40px/73px Jost;
  }
  .tag_text {
    font: normal normal 400 15px/32px Jost;
    line-height: 18px;
  }
  .feature__image {
    width: 300px;
  }
  .first {
    width: 400px;
  }
  .after_service,
  #partners {
    font: normal normal 500 30px/58px Jost;
  }
  .feature_text {
    font: normal normal 500 15px/28px Jost;

    margin-top: 0%;
  }
  .service,
  #client {
    font: normal normal 500 14px/28px Jost;
  }
  #client {
    margin-bottom: 0;
  }
  article .gred_btn {
    margin-top: 20px;
    width: 130px;
    height: 45px;
    font-size: 15px;
    padding: 0;
  }
  article {
    padding: 8rem 30rem 2rem 30rem;
  }
  .large {
    margin-right: 0;
  }
  .why_here .right {
    scale: 0.7;
  }
  .why_here .gred_btn {
    font-size: 15px;
  }
  .why_here {
    margin-bottom: 0;
  }
  .faq {
    padding: 3rem 30rem 5rem 30rem;
  }
  .stack_os {
    padding: 3rem 25rem 5rem 25rem;
  }
  .stack_card {
    scale: 0.8;
  }
  .testimonial,
  .our_blog {
    padding: 3rem 24rem 5rem 24rem;
  }
  .blog_holder {
    padding: 0rem 24rem 5rem 24rem;
  }
  .mask_card {
    width: 292px;
  }
  .mask_link {
    font: normal normal 500 19px/28px Jost;
  }
  .hashinh {
    height: 400px;
  }

  .hashinh .left {
    width: 928px;
    padding-left: 200px;
  }
  .hashinh .left img {
    width: 396px;
  }
  .hashinh_text {
    font: normal normal 300 15px/26px Jost;
    margin: 10px 0;
  }
  input {
    padding: 10px 0px 10px 30px;
    width: 457px;
    font-size: 15px;
  }
  .right img {
    width: 600px;
    position: absolute;
  }
  .apply_card {
    width: 1055px;
    height: 450px;

    padding: 0 90px;
  }
  #apply_img_holder {
    width: 375px;
    height: 373px;
  }
  .apply_card .right img {
    width: 375px;
  }
  .apply_text {
    font: normal normal 500 35px/55px Jost;
  }
}
@media screen and (min-width: 1024px) {
}
